:root {
  /* Thème light */
  --color-primary: #E53935;
  --color-secondary: #FFCDD2;
  --color-success: #4CAF50;
  --color-info: #2196F3;
  --color-warning: #FB8C00;
  --color-error: #FF5252;
  --color-color1: #9C27B0;
  --color-color2: #FFEB3B;
  --color-color3: #795548;
}

:root.dark {
  /* Thème dark */
  --color-primary: #FFCDD2;
  --color-secondary: #E53935;
  --color-success: #81C784;
  --color-info: #64B5F6;
  --color-warning: #FFB74D;
  --color-error: #E57373;
  --color-color1: #CE93D8;
  --color-color2: #FFF176;
  --color-color3: #A1887F;
  --color-background: #121212;
  --color-text: #E53935;
}
