:root {
  /* Thème light */
  --main-primary: #E53935;
  --main-secondary: #FFCDD2;
  --main-success: #4CAF50;
  --main-info: #2196F3;
  --main-warning: #FB8C00;
  --main-error: #FF5252;
  --main-color1: #9C27B0;
  --main-color2: #FFEB3B;
  --main-color3: #121212;
}

:root.dark {
  /* Thème dark */
  --main-primary: #FFCDD2;
  --main-secondary: #E53935;
  --main-success: #81C784;
  --main-info: #64B5F6;
  --main-warning: #FFB74D;
  --main-error: #E57373;
  --main-color1: #CE93D8;
  --main-color2: #FFF176;
  --main-color3: #868686;
  --main-background: #121212;
  --main-text: #E53935;
}
